#app {
    background-color: #171716;
}

html {
    background-color: #171716 !important;
}

body {
    background-color: #171716 !important;
    color: #bdbdbd !important;
}

.sc-artwork {
    border-radius: 4%;
}

a.sc-link-dark {
    color: rgb(137 43 237) !important;
    font-weight: bold;
}

a.sc-link-dark:hover {
    color: rgb(99, 57, 141) !important;
}

a.sc-link-light {
    color: #FFFF !important;
}

a.sc-link-light:hover {
    color: #bdbdbd !important;
}

.playControls__inner, .playControls__bg {
    background-color: #383838 !important;
    border-top: 2px solid #734ecc !important;
}

.playbackSoundBadge__titleLink {
    color: #b1b1b1 !important;
}

.playbackSoundBadge__titleLink:hover {
    color: #808080 !important;
}

.playControl {
    color: #FFFF !important;
}

.g-tabs-link.active {
    color: rgb(137 43 237) !important;
}

.g-tabs-link {
    color: #a8a8a8  !important;
    border-bottom: none !important;
}



.header__link.header__proUpsell_side_by_side_experience,
.header__link.header__goUpsell_side_by_side_experience {
    color: rgb(159, 84, 240) !important;
}

.playbackTimeline__duration {
    color: #bdbdbd !important;
}

.playbackTimeline__timePassed {
    color: #8445cc !important;
}

.sc-button-play {
    background-color: #734ecc !important;
}


.truncatedAudioInfo__wrapper:after {
    background: linear-gradient(hsla(0,0%,100%,0),hsla(0, 0%, 100%, 0) 90%,#000000) !important;
}


.sc-button-follow {
    background-color: #8445cc !important;
    border: none !important;
}

.sc-button-follow::before {
    filter: brightness(0) invert(0.9) !important;
}

.sc-button-dropdown {
    border: 1px solid #8445cc !important;
    background-color: transparent !important;
    color: #a45ef5 !important;
}

.sc-button-dropdown::after {
    border-right: 1px solid #a45ef5 !important;
    border-bottom: 1px solid #a45ef5 !important;
}

.linkMenu {
    background-color: #383838 !important;
}

.sc-input, .commentForm__input {
    background-color: #383838 !important;
    color: #cacaca !important;
    border: none !important;
}

.commentForm__wrapper {
    background-color: #424242 !important;
}

.listenEngagement {
    border: none !important;
}

.tileGallery__sliderButton:after {
    border-right: 2px solid #a45ef5 !important;
    border-top: 2px solid #a45ef5 !important;
}

.tileGallery__sliderButton:hover, .tileGallery__sliderPeek > .tileGallery__sliderButton {
    border: none !important;
}

.sc-label-private {
    background-color: #424242 !important;
    border: 1px solid #734ecc !important;
}

.sc-tag {
    background-color: #808080 !important;
}

.sound__soundActions {
    background-color: transparent !important;
}

.sc-button-secondary {
    background-color: #363636 !important;
    color: #cacaca !important;
    border: 1px solid #734ecc !important;
}

.headerMenu {
    background-color: #424242 !important;
}

.headerMenu__link {
    color: #FFFF !important;
}

.headerMenu__link:hover {
    background-color: #707070 !important;
}

.headerMenu__link::after {
    filter: invert(1) !important;
}

.dropdownContent__container {
    background-color: #2a2a2a !important;
}

.conversation__actions {
    background-color: #171716 !important;
}

.conversationMessage__body {
    color: #cacaca !important;
}

.conversationParticipant {
    font-weight: bolder !important;
}

.composeMessage__bottomWrapper {
    border: none !important;
}

.sc-button-primary {
    background-color: #734ecc !important;
    border: none !important;
    color: #FFFF !important;
}

.inboxItem.active {
    background-color: #424242 !important;
}

.inboxItem:hover {
    background-color: #424242 !important;
}

.conversationMessages__item {
    border-bottom: 1px solid #707070 !important;
}

.conversationMessages__item:last-child {
    border-bottom: none  !important;
  }

  .modal.modalWhiteout {
    background-color: #36363677 !important;
  }

.newMessageForm, .modal__modal {
    background-color: #424242 !important;
    color: #FFFF !important;
}

.input {
    background-color: transparent !important;
}

.l-inner-fullwidth {
    background-color: #282828 !important;
}

.newItemBadge.newItems__some {
    background-color: #734ecc !important;
}

.volume__button {
    filter: brightness(0) invert(1) !important;
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    height: 24px !important;
}

.volume__sliderWrapper {
    opacity: 0 !important;
}

.volume.expanded > .volume__sliderWrapper {
    opacity: 100 !important;
    background-color: #383838 !important;
    border: 1px solid #707070 !important;
}

.volume__sliderHandle {
    background-color: #a45ef5 !important;
}

.volume__sliderProgress {
    background-color: #734ecc !important;
}

.volume__sliderWrapper::after {
    border-color: transparent transparent #707070 #707070 !important;
}

.volume__sliderWrapper::before {
    border-color: transparent transparent #707070 #707070 !important;
}

.sc-ministats-small.sc-ministats-sounds:before {
    filter: brightness(0) invert(1) !important;
}

.playControls__control {
    filter: brightness(0) invert(1) !important;
}

.sc-status-icon {
    filter: hue-rotate(245deg) !important;
}

.artistShortcutTile__username {
    color: #cacaca !important;
}

.sc-button-secondary::before {
    filter: brightness(0) invert(0.7) !important;
}

.soundActions__purchaseLink {
    color: #cacaca !important;
}

.streamHTUpsell {
    background-color: #383838 !important;
}

.soundBadge__additional {
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 90%, #000000) !important;
}

.localeSelector_language {
    color: white !important;
}

.readMoreTile__countWrapper {
    background-color: #363636 !important;
}

.readMoreTile__count {
    color: white !important;
}

.sc-button-tertiary {
    background-color: #363636 !important;
    color: #FFF !important;
    border: 1px solid #734ecc !important;
}

.commentForm__wrapper {
    border-radius: 4px !important;
}

.moreActions__button::before {
    filter: brightness(0) invert(0.7) !important;
}

.gritter-top {
    background: #734ecc !important;
    border: 1px solid white !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABh0lEQVRIx2NgGAWjgFbgjDan3AkdbnGaWnJcly/6cqzbgQuBFrvO6PAr08SSY9p8kS9Xz7/1HwT+/v37aHJLBtUtOaHHH/Jy5Zwb/5HArw8f0qjrE13egGeLpl5HtgToo7tAkp96lujw+jydN/EqmiUPgaQsXo37FRg4gBHae0KXf9kxXR57AnHi8WRm1yU0S54ASQWCLrwYbm3x7d6td3++fv75oKvyzAltAUfsqYvf5dGUlotAQ/8hWfIcSBKX0n48f+IN1/jv378H3dVn0X12XIfH4eGEhnNolrwEkupEhzlQsRBQ0xtkyx52VZ4+osVrC05d2rw2D7urz4DEkSwBqdciOYKBmoz+/f37EW7X37//7reXnjqmw598r63kFIiPJPcOSOmRnZqAms2AhnxGcvXf11tW3AXRSJZ8AFKGFCddoCFWQMO+/scCoI4wpVo+ARpmD4yPb6i2/PsCJC2pXrwADXUGGv4DagnIh7Y0K5WBhnsA8XsgdqJ5PQO0RGC0th3eAACf46PZ48ONQwAAAABJRU5ErkJggg==), linear-gradient(rgb(174, 0, 255), #731cbb 40%, rgb(80, 12, 175)) !important;
    background-size: 100%, auto !important;
    background-repeat: no-repeat !important;
}

.gritter-item-wrapper.big-success {
    background-color: #363636 !important;
    color: #cacaca !important;
    border: 1px solid white !important;
}

.tabs__tabs, .g-modal-section {
    background-color: #383838 !important;
}

.shareLink__field, .shareLink__fromField {
    background-color: #282828 !important;
}

.playbackTimeline__progressHandle {
    background-color: #a45ef5 !important;
    border: 1px solid #734ecc !important;
}

.playbackTimeline__progressBar {
    background-color: #731cbb !important;
}

.sceneLayer {
    filter: hue-rotate(245deg) !important;
}

.dialog {
    background-color: #282828 !important;
    color: #cacaca !important;
}

.sc-text-h5 {
    color: #FFF !important;
}

.sc-text-captions {
    color: #b1b1b1 !important;
}

.notificationBadge__username {
    color: #FFF !important;
}

.sc-text-secondary {
    color: #cacaca !important;
}

.inboxItem.active {
    border-left-color: #734ecc !important;
}

.sc-button-cta {
    background-color: #734ecc !important;
    border: 1px solid #731cbb !important;
}

.sidebarInfoBox__body {
    background-color: #2a2a2a !important;
}

.sc-type-h2 {
    color: #FFF !important;
}

.sc-text-captions {
    color: #363636 !important;
}

.currentPlan__planContainer, .currentPlan__planUpsell,
.consumerSubscription__upsell, .g-upsell-container {
    background-color: #383838 !important;
    color: #cacaca !important;
}

.sc-toggle:before {
    background: #734ecc !important;
}

.select__select {
    background-color: #383838 !important;
    color: #cacaca !important;
}

.hintButton {
    filter: invert(1) !important;
}

.quotaMeterWrapper, .uploadMain__chooserContainer,
.uploadMain__foot {
    background-color: #363636 !important;
}

.quotaMeter__percentage, .quotaMeter__upsellText,
.sc-link-verylight {
    color: #FFFF !important;
}

.quotaMeter__dropdownButton::after {
    filter: invert(1) !important;
}



#onetrust-banner-sdk {
    background-color: #363636 !important;
}

#onetrust-policy-text, #onetrust-policy-title,
.ot-dpd-desc, .ot-dpd-title, .ot-cat-header,
#ot-category-title, .ot-always-active, .ot-category-desc,
.ot-subgrp-desc, .ot-subgrp h5, .ot-vlst-cntr button, .ot-vlst-cntr a  {
    color: #FFFF !important;
}

.ot-pc-header, #ot-pc-content, #ot-pc-desc, #ot-pc-title,
.ot-acc-txt, .ot-pc-footer {
    color: #FFFF !important;
    background-color: #282828 !important;
}

.ot-plus-minus::before {
    filter: invert(1) !important;
}

.playControls__castControl {
    filter: invert(1) !important;
}

.playableTile__actionButton.sc-button-like  {
    filter: hue-rotate(245deg) !important;
}

.searchTitle {
    background-color: #181414 !important;
}

.searchOptions__navigationLink {
    color: #FFF !important;
    text-shadow: none !important;
}

.searchOptions__navigationItem.active {
    background: #731cbb !important;
}

.searchOptions__navigationItem.active::after {
    border-left-color: #731cbb !important;
}

.dropbar__content {
    background-color: #363636 !important;
}

.dropbar__content {
    background: #383838 !important;
}